<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Properties>
        <property name="LOG_DIR">logs</property>
        <property name="pattern_file">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{5} = %msg%n</property>
        <property name="pattern_console">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{5} = %msg%n</property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_console}" />
        </Console>
        <RollingFile name="File" fileName="logs/log.txt" append="true"
                     filePattern = "logs/${date:yyyy-MM-dd}/%d{yyyy-MM-dd-HH-mm}_%i.txt">
            <PatternLayout pattern="${pattern_file}" />
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="25 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level = "info" >
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
